@{
    ViewBag.Title = "Home Page";
}
<canvas id="can" width="350" height="350"></canvas>
<div class="text-container">
</div>
<input class="text-input" type="text" placeholder="Enter Message" value=" "/>
<button class="send">Send</button>
<button disabled class="word" id="word1">
    <br />
</button>
<button disabled class="word" id="word2">
    <br />
</button>
<button disabled class="word" id="word3">
    <br />
</button>